@import url("variables.css");
@import url("utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

body > * {
  flex: 1;
}

#root {
  color: var(--cols-black);
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-base);
}

/* sm mobile */
@media (max-width: 320px) {
  :root {
    --font-size-lg: 2.5rem;
  }
}

@media (max-width: 374px) and (min-width: 321px) {
  :root {
    --font-size-lg: 3rem;
  }
}
