@import url("variables.css");

.light {
  font-weight: var(--font-weight-light);
}

.reg {
  font-weight: var(--font-weight-reg);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.xsm {
  font-size: var(--font-size-xsm);
}

.sm {
  font-size: var(--font-size-base);
}

.md {
  font-size: var(--font-size-md);
}

.lg {
  font-size: var(--font-size-lg);
}

.pad-inline {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}
